*.mp4
*.mkv
*.pdf
*.zip
*.rar
out/
target/
.idea/
.vscode/
/Modules/NetBeans Projects/Demo/nbproject/private/
/Modules/NetBeans Projects/Demo/build/
/Modules/NetBeans Projects/Student Mark Management System/build/
/Modules/NetBeans Projects/Student Mark Management System/nbproject/private/
/NetBeans Projects/Demo/build/
/NetBeans Projects/Demo/nbproject/private/
/NetBeans Projects/Student Mark Management System/build/nbproject/private/
/NetBeans Projects/Student Mark Management System/nbproject/private/
/NetBeans Projects/Student Mark Management System with File Handling SearchStudentForm/Student Mark Management System/build/
/NetBeans Projects/Student Mark Management System with File Handling SearchStudentForm/Student Mark Management System/nbproject/private/
/NetBeans Projects/Student Mark Management System MySql Step 1 AddStudentForm/Student Mark Management System/build/
/NetBeans Projects/Student Mark Management System MySql Step 1 AddStudentForm/Student Mark Management System/nbproject/private/
/NetBeans Projects/Student Mark Management System with MySQL Step3 SearchStudentForm/Student Mark Management System/build/
/NetBeans Projects/Student Mark Management System with MySQL Step3 SearchStudentForm/Student Mark Management System/dist/
/NetBeans Projects/Student Mark Management System with MySQL Step3 SearchStudentForm/Student Mark Management System/nbproject/private/
/NetBeans Projects/Student Mark Management System with MYSQL Step4 DeleteStudentFom and UpdateStudentForm/Student Mark Management System/build/
/NetBeans Projects/Student Mark Management System with MYSQL Step4 DeleteStudentFom and UpdateStudentForm/Student Mark Management System/dist/
/NetBeans Projects/Student Mark Management System with MYSQL Step4 DeleteStudentFom and UpdateStudentForm/Student Mark Management System/nbproject/private/
