 h1{ color: blue; 
            text-align: center;
            width: 50%;
            height: 100%;
            padding: 25px;}

p{color: rgb(67, 136, 67); background-color: brown();}
        
.container{ font-size: x-small;
            color: darkblue;}